<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.twitter.jecw.slang"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.SET_WALLPAPER"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Splash"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		 <activity android:name=".CamPanamaSlangActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.twitter.jecw.slang.CAMPANAMASLANGACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.twitter.jecw.slang.MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TextPlay"
                  android:label="@string/app_name">
        </activity>
         <activity android:name=".Email"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".Camera"
                  android:label="Camera Application"
                  android:screenOrientation="portrait"
        >
        </activity>
         <activity android:name=".Data"
                  android:label="@string/app_name"
        >
        
         </activity>
         <activity android:name=".GFX"
                  android:label="@string/app_name"
        >
        </activity>
         <activity android:name=".GFXSurface"
                  android:label="@string/app_name">
             <intent-filter>
                <action android:name="com.twitter.jecw.slang.GFXSURFACE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".MyBringBack"
                  android:label="@string/app_name">
             <intent-filter>
                <action android:name="com.twitter.jecw.slang.MYBRINGBACK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".SoundStuff"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.twitter.jecw.slang.SOUNDSTUFF" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Slider"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.twitter.jecw.slang.SLIDER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".OpenedClass"
                  android:label="@string/app_name"
        >
        </activity>
        
        <activity android:name=".AboutUs"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Dialog"
                  >
            <intent-filter>
                <action android:name="com.twitter.jecw.slang.ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Prefs"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Dialog"
                  >
            <intent-filter>
                <action android:name="com.twitter.jecw.slang.PREFS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".Tabs"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.twitter.jecw.slang.TABS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".SimpleBrowser"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.twitter.jecw.slang.SIMPLEBROWSER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>
</manifest>